body{
    font-family:"Rubik";
    font-size: 1.34em;
    font-weight: 400;
    line-height: 2rem;
    padding-left: 23.125rem;
    padding-right: 23.125rem;
    margin: 0;
    

}

/* Taille/ style de caractère */
.medium{
    font-weight: 500;
}

h1{
    font-size: 3.01em;
}

h2{
    font-size: 1.67em;
}

p:nth-child(2){
font-size: 1.42em;
}

.text-center{
    text-align: center;
}

/* Contour */

.bordure{
    border: 1px solid white;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.10);
    margin-left: 1.938rem;
    padding: 3.563rem 2rem 3.188rem 2rem;
}

/* Flexbox */
.flex{
    display: flex;
}

.flex-center{
    align-items: center;
}

.between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: nowrap;
}

/* Padding */
.padding{
    padding: 5.75rem 13.438rem 5.75rem 13.438rem;
}


/* Media Queries MOBILE PORTRAIT*/
@media (orientation: portrait) and (max-width: 320px) {

    body{
        margin: 0;
        padding: 0;
    }

    .padding{
        padding: 1.25rem;    
    }

    .wrap{
        flex-wrap: wrap;
    }

    h1{
        font-size:2.5rem;
        margin: 1rem;
        text-align: center;
    }

    h2{
        font-size:0.938rem;
    }

    p:last-child{
        display: none;
    }

    .bordure{
        padding: 1.25rem;
        margin: 0;
        margin-bottom: 1.25rem;
    }

    .padmob{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .intrus{
        padding-left: 1.38rem;
        padding-right: 1.38rem;
    }

    .intrus2{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Media Queries MOBILE PAYSAGE */
@media (orientation: landscape) and (max-width: 480px){

    body{
        margin: 0;
        padding: 0;
    }

    .padding{
        padding: 1.25rem;    
    }

    .wrap{
        flex-wrap: wrap;
    }

    h1{
        font-size:2.5rem;
        margin: 1rem;
        text-align: center;
    }

    h2{
        font-size:0.938rem;
    }

    p:last-child{
        display: none;
    }

    .bordure{
        padding: 1.25rem;
        margin: 0;
        margin-bottom: 1.25rem;
    }

    .padmob{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .intrus{
        padding-left: 1.38rem;
        padding-right: 1.38rem;
    }

    .intrus2{
        margin-left: 9.8rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

/* Media Queries TABLETTE PORTRAIT */
@media (orientation: portrait) and (max-width: 1024px){

    body{
        margin: 0;
        padding: 0;
    }

    .padding{
        padding: 4rem;    
    }

    .wrap{
        flex-wrap: wrap;
    }

    h1{
        font-size:2.5rem;
        margin: 1rem 1rem 2.50rem 1rem;
        text-align: center;
    }

    h2{
        font-size:1.188rem;
    }

    p:last-child{
        font-size:0.625em;
    }

    .bordure{
        padding: 1.25rem;
        margin: 0;
        margin-bottom: 1.25rem;
    }

    .padmob{
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

}

